<ion-view view-title="Welcome,&nbsp;{{user.username}}" side="center">

    <div class="row" style="position: absolute;margin-top:55px;padding-left: 27px;padding-right: 27px" ng-show="viewEntered">
        <div class="col left-tab pointer padding_7" ng-class="{
                'active-tab'
                        :dashboard.currentTab === 'saving'}" ng-click="dashboard.currentTab = 'saving';">Savings</div>
        <div class="col right-tab pointer padding_7" ng-class="{
                'active-tab'
                        :dashboard.currentTab === 'weekly'}" ng-click="dashboard.currentTab = 'weekly';">Weekly Market Report</div>
    </div>
    <div class="row" style="position: absolute;margin-top:120px" ng-if="viewEntered">
        <div class="col select-style-full light-bg-item" ng-show="dashboard.currentTab === 'saving'">
            <select class="select-style" data-ng-model="dashboardDetail.type" data-ng-options="dashboardType.value as dashboardType.text for dashboardType in dashboardTypeList" data-ng-change="updateDashboardDetail()">
            </select>
        </div>
        <div class="col-80 col-offset-10 text-center top-spacer-10" ng-show="dashboard.currentTab === 'weekly'">
            <h3>Weekly Market Report
                Freshly Picked <span class="brand-col">{{dashboardDetail.weeklyFreshReport.publishedDate| date : 'MM/dd/yyyy'}}</span></h3>
        </div>
    </div>

    <!-- top margin 60px + height of select 56px + border top and bottom 2px - padding of ion-content 1px -->
    <ion-content style="top:182px;" ng-show="viewEntered">
        <ion-refresher class="refresher"
                       spinner="none"
                       pulling-text=""
                       on-refresh="updateDashboardDetail()">
        </ion-refresher>
        <div ng-if="dashboard.currentTab === 'saving'">
            <div class="top-spacer-20" >
                <ul class="list-group01">
                    <li class="list-group-item01">Invoices<span class="amount">{{dashboardDetail.detail.invoices|number}}</span></li>
                    <li class="list-group-item01">Purchases<span class="amount">{{dashboardDetail.detail.purchases| currency}}</span></li>
                    <li class="list-group-item01">Distributor Savings<span class="amount">{{dashboardDetail.detail.distSavings| currency}}</span></li>
                    <li class="list-group-item01">Deviation Savings<span class="amount">{{dashboardDetail.detail.devSavings| currency}}</span></li>
                    <li class="list-group-item01">Manufacturer Rebates<span class="amount">{{dashboardDetail.detail.mfgRebates| currency}}</span></li>
                    <li class="list-group-item01">Foodbuy Rebates<span class="amount">{{dashboardDetail.detail.foodbuyRebates| currency}}</span></li>
                    <li class="list-group-item01">Found Overcharges<span class="amount">{{dashboardDetail.detail.overcharges| currency}}</span></li>
                    <li class="list-group-item01"><hr class="no-margin"></li>
                    <li class="list-group-item01 total">Total Savings<span class="amount">{{dashboardDetail.detail.totalSavings| currency}}</span></li>
                </ul>
            </div>
        </div>
        <div class="top-spacer-20" ng-if="dashboard.currentTab === 'weekly'">
            <ion-list>
                <ion-item  ng-click="openWeeklyFreshReport()" data-ng-repeat="highlight in dashboardDetail.weeklyFreshReport.highlights">
                    <span class="font_size_14">{{highlight}}...</span><i class="ion-ios-arrow-right size-24 right-arrow margin_top_10"></i>
                </ion-item>
            </ion-list>
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </ion-content>
    <ion-footer-bar ng-if="dashboard.currentTab === 'weekly'">
        <div class="col">
            <button style="margin-top: -5px !important" class="button button-block btn-danger beapp-btn btn-block text-white" ng-click="openWeeklyFreshReport()">
                view full report&nbsp;<i class="ion-ios-arrow-right"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-view>



