<ion-content>
    <div class="margin_top_60 margin_left_10 margin_right_10 font_size_18"><strong>Dashboard</strong></div>
    <div class="margin_top_10 margin_left_10 margin_right_10 item item-text-wrap">
        <p>Overview of processed data and savings.</p>
    </div>

    <div class="margin_top_10 margin_left_10 margin_right_10 font_size_18"><strong>Filters</strong></div>
    <div class="margin_left_10 margin_right_10">
        <div class="card">
            <div class="item item-divider">
                YTD Savings
            </div>
            <div class="item item-text-wrap">
                Year to day, from January 1st this year to today.
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                This month
            </div>
            <div class="item item-text-wrap">
                From the 1st of the current month to today.
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Last month
            </div>
            <div class="item item-text-wrap">
                From the 1st of last month to the end of last month.
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Last year:
            </div>
            <div class="item item-text-wrap">
                From January 1st of last year to December 31st of last year.
            </div>
        </div>
    </div> </ion-content>




