.select-style-full{
    position: relative;
}
.select-style-full select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 0px;
    padding-left: 30%;
    border-right: none;
    border-left: none;
    font-size: 16px;
    font-weight: 500;
}
.select-style-full select::-ms-expand {
    display: none; }
.select-style-full option {
    direction: ltr; }
.select-style-full:after {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    content: "";
    pointer-events: none; }
.light-bg-item label, .light-bg-item select{
    background: #fef5ea;
}

.refresher{
    background-color: white;
}

.active-tab{
    background-color: black;
    color: white
}